body{
  font-family: Arial;
  font-size: 16px;
}

#years{
  font-weight: bold;
  padding-right: 30px;
}

#data{
  font-style: italic;
}


h1{
  font-family:"Georgia";
  font-size: 24px;
  font-weight: bold;
  color: blue;
  letter-spacing: 1em;
  word-spacing: 1em;
  text-align: center;
  background-color: gray;
}

.head2{
  font-family:"Georgia";
  color: red;
  font-size: 18px;
  letter-spacing: 1em;


}

header{
  padding-bottom: 30px;
}

table{
  border-spacing: 0;
  border-collapse: collapse;

}

tr{
  padding: 0;
  margin: 0;
}
